body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    display: flex;
    height: 75px;
    width: auto;
    background-color: #0f152e;
    align-items: center;
}
#header h4{
    margin: 0;
}

.logo {
    margin-left: 40px;
    flex: 1;

}

.logo img {
    height: 41px;
}

.heading {
    color: white;
    font-size: 30px;
    flex: 2;

}

.controls {
    display: flex;
    max-height: 50px;
    margin: 10px 0;
    align-items: center;
    justify-content: center;
}

.button {
    height: 40px;
    width: 96px;
    color: white;
    background-image: linear-gradient(#4b67d8, #5085d5);
    border-radius: 76px;
    border: none;
    margin-right: 25px;
    margin-left: 25px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}

.button:hover{
    background-image: linear-gradient(10deg, #4b67d8, #F108FC 100%);
}

.play:active{
    background-image: linear-gradient(10deg, #4b67d8, #F108FC 100%);
}

.mode {
    display: flex;
    max-height: 200px;
    margin: 5px 0;
    align-items: center;
    justify-content: center;
}

.instruction{
    max-height: 24px;
    margin: 0.4em;
    text-align: center;
    color: #0f152e;
    font-size: 22px;
    font-weight: bold;
    overflow: hidden;
}

h3{
    margin: 0;
    color: #0f152e;
    font-size: 20px;
    font-weight: 700;
}
#player{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-medium {
    height: 40px;
    width: 123px;
    color: white;
    background-image: linear-gradient(#4b67d8, #5085d5);
    border-radius: 76px;
    border: none;
    margin-right: 158px;
    margin-left: 158px;
    font-size: 20px;
    font-weight: 700;
}

.score {
    display: flex;
    max-height: 180px;
    margin: 5px 0;
    align-items: center;
    justify-content: center;

}

.score-one {
    display: flex;
    height: 150px;
    width: 150px;
    align-items: center;
    justify-content: center;
    margin-right: 32px;
    margin-left: 32px;
}

.score-one .outer-box {
    display: flex;
    height: 150px;
    width: 150px;
    background-image: linear-gradient(#4b67d8, #F108FC);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.score-one .inner-box {
    display: flex;
    height: 135px;
    width: 135px;
    background-color: #de32e7;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.score-two {
    display: flex;
    height: 150px;
    width: 150px;
    align-items: center;
    justify-content: center;
    margin-right: 32px;
    margin-left: 32px;
}

.score-two .outer-box {
    display: flex;
    height: 150px;
    width: 150px;
    background-image: linear-gradient(#0f152e, #5085d5);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    border: none;
}

.score-two .inner-box {
    display: flex;
    height: 135px;
    width: 135px;
    background-color: #de32e7;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.inner-box p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 70px;
    font-style: italic;
    color: white;
    text-align: center;
}

.versus img {
    height: 121px;
    width: 132px;
    margin-right: 32px;
    margin-left: 32px;
}

.game-icons {
    display: flex;
    height: 204px;
    align-items: center;
    justify-content: center;
}

#image-icon {
    height: 180px;
}

.game-icons .text {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}



/* Rock Group */
.rock:hover{
    filter: drop-shadow(3px 0 0 rgb(57, 91, 194))
    drop-shadow(2px 0px 0 #ffffff)
    drop-shadow(3px 0 0 #F108FC);
    transition: filter 800ms ease;  
}

.image-rock-girl{
    transition: transform 3s ease-in-out;
}
.image-rock-girl:hover{
    transform: rotateY(40deg) rotateZ(4deg) ;
        
}

.rock .rock-group {
    display: flex;
    align-items: center;
    justify-content: center;

}

.rock .text {
    position: relative;
    bottom: 40px;
    left: 32px;
    z-index: 1;
}

.image-rock {
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 1;
    cursor: pointer;

}

.image-rock-girl {
    position: relative;
    top: 12px;
    right: 130px;
    z-index: 1;
    cursor: pointer;    
}

/* Rock Group */

/* Scissor Group */
.scissor:hover{
    filter: drop-shadow(3px 0 0 #0f152e)
    drop-shadow(2px 0 0 #ffffff)
    drop-shadow(3px 0 0 #638fd1);
    transition: filter 800ms;    
}

.image-scissor-boy{
    transition: transform 3s ease-in-out;
}
.image-scissor-boy:hover{
    transform: rotateY(40deg) rotateZ(4deg) ;
        
}

.scissor .scissor-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scissor .text {
    position: relative;
    bottom: 40px;
    left: 28px;
    z-index: 1;

}

.image-scissor {
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 1;
    cursor: pointer;

}

.image-scissor-boy {
    position: relative;
    top: 12px;
    right: 130px;
    z-index: 1;
    cursor: pointer;
}

/* Scissor Group */


/* Paper Group */
.paper:hover{    
    filter: drop-shadow(3px 0 0 rgb(57, 91, 194))
    drop-shadow(2px 0px 0 #ffffff)
    drop-shadow(3px 0 0 #F108FC);
    transition: filter 800ms;           
}

.image-paper-girl{
    transition: transform 3s ease-in-out;
}
.image-paper-girl:hover{
    transform: rotateY(40deg) rotateZ(4deg) ;
        
}

.paper .paper-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paper .text {
    position: relative;
    bottom: 40px;
    left: 28px;
    z-index: 1;

}

.image-paper {
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 1;
    cursor: pointer;

}

.image-paper-girl {
    position: relative;
    top: 6px;
    right: 143px;
    z-index: 1;
    cursor: pointer;
}

/* Paper Group */

#footer {
    height: 67px;
    width: auto;
    background-color: #0f152e;

}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright h4 {
    color: white;
    font-size: 18px;
}

.copyright img {
    height: 27px;
    width: 32px;
    margin-left: 28px;
}
.endMsg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 78vh;
    gap: 20px;
}

#end-game{
    color: #0f152e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 30px;
    font-weight: bolder;
}

.endMsg input{
    height: 40px;
    width: 120px;
    color: white;
    background-image: linear-gradient(#4b67d8, #5085d5);
    border-radius: 76px;
    border: none;
    margin-right: 25px;
    margin-left: 25px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}

.hidden{
    display: none;
}

.in-Text{
    max-height: 24px;
    margin: 0.4em;
    text-align: center;
    color: #0f152e;
    font-size: 22px;
    font-weight: 550;
    overflow: hidden;
}

.spin{
    animation-name: spinner;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 6s;
}

@keyframes spinner {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }    
}

.rotate{
    animation-name: rotate;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 300ms;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }    
}

.textScale {
    animation-name: textScale;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 250ms;
    animation-delay: 50ms;
}

@keyframes textScale {
    from {
        left: 110px;
    }
    to {
        left: 32px;
    }    
}

.instruction{    
    animation-duration: 1s;
    animation-name: dropDown;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes dropDown {
    0% {
        transform: translateY(-150%)
    }
    100%{
        transform: translate(0%);
    }
}